@model List<Song>;
@{ 
    ViewBag.Title = "My Songs List";
}

<a asp-controller="Song" asp-action="Add">Add new song</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Name</td>
                <td>@song.Year</td>
                <td>@song.Genre.Name</td>
                <td>@song.Rating</td>
                <td>
                    <a asp-controller="Song" asp-action="Edit" asp-route-id="@song.SongId" asp-route-slug="@song.Slug">Edit</a>
                    <a asp-controller="Song" asp-action="Delete" asp-route-id="@song.SongId"asp-route-slug="@song.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>